{
  "openapi": "3.1.0",
  "info": {
    "title": "ORION Görev API",
    "version": "1.3.0",
    "description": "Grokbot ve diğer harici ajanlar için görev yönetimi. E-posta/AI analizi bu API'nin parçası değildir."
  },
  "servers": [
    {
      "url": "https://app.orioncranes.com/api/agent"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tasks/{id}/workflow": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Görev akışını oku",
        "description": "tasks:read gerekir; beklenen görevlerde erişim ayrıca denetlenir.",
        "responses": {
          "200": {
            "description": "Kontrol listesi, tekrar, waiting_for (id/title/status) ve yetkili next_task kimliği"
          },
          "403": {
            "description": "Kayıt yetkisi yok"
          },
          "503": {
            "description": "Servis kullanılamıyor"
          }
        }
      },
      "patch": {
        "summary": "Kontrol listesi, tekrar ve beklenen görevleri güncelle",
        "description": "tasks:write gerekir. Sürüm ve tekrar anahtarı zorunludur. Bağlantılar aynı paylaşım kapsamında olmalıdır; döngü kabul edilmez.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atomik işlem; yeniden denemede aynı sonuç",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResult"
                }
              }
            }
          },
          "401": {
            "description": "Geçersiz oturum"
          },
          "403": {
            "description": "Yetki yok"
          },
          "409": {
            "description": "Sürüm veya tekrar anahtarı çakışması"
          },
          "422": {
            "description": "Akış kuralı ihlali"
          },
          "429": {
            "description": "İstek sınırı"
          },
          "503": {
            "description": "Servis kullanılamıyor"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "summary": "Görevleri listele",
        "description": "Gerekli kapsam: tasks:read.",
        "responses": {
          "200": {
            "description": "Yalnız yetkili kayıtlar; görev listesi en fazla 50 kayıt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "today",
                "week",
                "overdue",
                "upcoming",
                "done",
                "archived",
                "cancelled"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "board",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Önceki nextCursor değerini değiştirmeden gönderin."
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO UTC zamanı; arşivlenen kayıtlar dahil."
          },
          {
            "name": "sourceRef",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Kaynak referansında tam eşleşme."
          },
          {
            "name": "team",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Ekip kimliği."
          },
          {
            "name": "sent",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Gönderenin kişiye özel görevleri"
          },
          {
            "name": "unassigned",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Atanmamış ekip görevleri"
          },
          {
            "name": "tagIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Virgülle ayrılan en fazla 10 etiket UUID"
          },
          {
            "name": "tagMatch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ]
            },
            "description": "Herhangi biri veya tümü"
          },
          {
            "name": "untagged",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Yalnız etiketsiz; tagIds ile birlikte kullanılamaz"
          }
        ]
      },
      "post": {
        "summary": "Görev oluştur",
        "description": "Gerekli kapsam: tasks:write. Kayıt ve profil yetkisi ayrıca kontrol edilir.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            },
            "description": "Her mantıksal yazma için tekil anahtar. Ağ tekrarında aynı anahtarı kullanın."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTask"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "İşlem ve tekrar yanıtı aynı transaction içinde kaydedildi; aynı anahtar aynı gövdeyle tekrar oynatılır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResult"
                }
              }
            }
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Görev, yorum, geçmiş ve ek metaverisini getir",
        "description": "Gerekli kapsam: tasks:read.",
        "responses": {
          "200": {
            "description": "Yalnız yetkili kayıtlar; görev listesi en fazla 50 kayıt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDetail"
                }
              }
            }
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Görevi güncelle veya tamamla",
        "description": "Gerekli kapsam: tasks:write. Kayıt ve profil yetkisi ayrıca kontrol edilir.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            },
            "description": "Her mantıksal yazma için tekil anahtar. Ağ tekrarında aynı anahtarı kullanın."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İşlem ve tekrar yanıtı aynı transaction içinde kaydedildi; aynı anahtar aynı gövdeyle tekrar oynatılır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResult"
                }
              }
            }
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}/comments": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Yorumları getir",
        "description": "Gerekli kapsam: tasks:read.",
        "responses": {
          "200": {
            "description": "Yalnız yetkili kayıtlar; görev listesi en fazla 50 kayıt."
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Yorum ekle",
        "description": "Gerekli kapsam: tasks:comment. Kayıt ve profil yetkisi ayrıca kontrol edilir.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            },
            "description": "Her mantıksal yazma için tekil anahtar. Ağ tekrarında aynı anahtarı kullanın."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İşlem ve tekrar yanıtı aynı transaction içinde kaydedildi; aynı anahtar aynı gövdeyle tekrar oynatılır."
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}/events": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Son 100 değişikliği getir",
        "description": "Gerekli kapsam: tasks:read.",
        "responses": {
          "200": {
            "description": "Yalnız yetkili kayıtlar; görev listesi en fazla 50 kayıt."
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/context": {
      "get": {
        "summary": "Yetkili panolar, ekipler, profil adları ve iş kodları",
        "description": "Gerekli kapsam: tasks:context:read.",
        "responses": {
          "200": {
            "description": "Yalnız yetkili kayıtlar; görev listesi en fazla 50 kayıt."
          },
          "401": {
            "description": "Token geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Uç bulunamadı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Sürüm, kaynak veya tekrar anahtarı çakışması",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Doğrulama hatası",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "İstek sınırı",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Servis kullanılamıyor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "İş kodu araması. Kodun başındaki sıfırlar korunur."
          }
        ]
      }
    },
    "/tasks/tags": {
      "get": {
        "summary": "Etiket kataloğunu oku",
        "description": "tasks:read gerekir. Kişisel/ekip görünürlüğü uygulanır; en fazla 50 kayıt. updatedSince arşivleri de içerir. Katalog adı/renk değişikliklerini görevlerden ayrı eşitleyin.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Türkçe ad araması"
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "team",
                "personal"
              ]
            },
            "description": "Katalog kapsamı"
          },
          {
            "name": "team",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Ekip kimliği"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "true arşivleri de dahil eder"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Değişiklik zamanı"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Önceki nextCursor değerini aynen kullanın"
          }
        ],
        "responses": {
          "200": {
            "description": "Yetkili katalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskTag"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok"
          },
          "409": {
            "description": "Sürüm, normalize ad veya tekrar anahtarı çakışması"
          },
          "422": {
            "description": "Geçersiz alan veya kapsam"
          },
          "429": {
            "description": "Retry-After süresini bekleyin"
          },
          "503": {
            "description": "Hizmete ulaşılamadı"
          }
        }
      },
      "post": {
        "summary": "Yeni etiket oluştur",
        "description": "tasks:tags:manage gerekir; ayrıca kapsamın yazma yetkisi kontrol edilir. Aynı normalize ad aynı kapsamda benzersizdir.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Etiket kaydı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "$ref": "#/components/schemas/TaskTag"
                    },
                    "replayed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok"
          },
          "409": {
            "description": "Sürüm, normalize ad veya tekrar anahtarı çakışması"
          },
          "422": {
            "description": "Geçersiz alan veya kapsam"
          },
          "429": {
            "description": "Retry-After süresini bekleyin"
          },
          "503": {
            "description": "Hizmete ulaşılamadı"
          }
        }
      }
    },
    "/tasks/tags/{tagId}": {
      "parameters": [
        {
          "name": "tagId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "summary": "Etiketi düzenle veya arşivle",
        "description": "tasks:tags:manage gerekir; kişisel sahip, ekip yöneticisi veya genel katalog yöneticisi düzenler. Mevcut sürümü gönderin.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Etiket kaydı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "$ref": "#/components/schemas/TaskTag"
                    },
                    "replayed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Kapsam veya kayıt yetkisi yok"
          },
          "409": {
            "description": "Sürüm, normalize ad veya tekrar anahtarı çakışması"
          },
          "422": {
            "description": "Geçersiz alan veya kapsam"
          },
          "429": {
            "description": "Retry-After süresini bekleyin"
          },
          "503": {
            "description": "Hizmete ulaşılamadı"
          }
        }
      }
    },
    "/tasks/{id}/cancel": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Görevi neden belirterek iptal et",
        "description": "tasks:cancel gerekir. Kişisel/kişiye özel görevde oluşturan; ekip görevinde ekip yöneticisi veya sistem yöneticisi; iş görevinde sistem yöneticisi yetkilidir. Kalıcı veri silinmez, aktör/zaman/neden geçmişi korunur.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "version",
                  "reason"
                ],
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Güncel task ve isteğe bağlı replayed"
          },
          "403": {
            "description": "İptal yetkisi yok"
          },
          "409": {
            "description": "Sürüm veya tekrar anahtarı çakışması"
          },
          "422": {
            "description": "Neden eksik, geçersiz durum veya bağlı görev var"
          },
          "429": {
            "description": "Retry-After süresini bekleyin"
          }
        }
      }
    },
    "/tasks/{id}/reactivate": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "İptal edilen görevi yeniden aç",
        "description": "tasks:cancel gerekir. Kişisel/kişiye özel görevde oluşturan; ekip görevinde ekip yöneticisi veya sistem yöneticisi; iş görevinde sistem yöneticisi yetkilidir. Kalıcı veri silinmez, aktör/zaman/neden geçmişi korunur.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "version"
                ],
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Güncel task ve isteğe bağlı replayed"
          },
          "403": {
            "description": "İptal yetkisi yok"
          },
          "409": {
            "description": "Sürüm veya tekrar anahtarı çakışması"
          },
          "422": {
            "description": "Neden eksik, geçersiz durum veya bağlı görev var"
          },
          "429": {
            "description": "Retry-After süresini bekleyin"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Recurrence": {
        "type": [
          "object",
          "null"
        ],
        "additionalProperties": false,
        "required": [
          "mode",
          "interval"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "weekly",
              "monthly",
              "after"
            ]
          },
          "interval": {
            "type": "integer",
            "minimum": 1,
            "maximum": 52
          },
          "day": {
            "type": "integer",
            "minimum": 1,
            "maximum": 31
          }
        }
      },
      "Checklist": {
        "type": "array",
        "maxItems": 30,
        "items": {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "id",
            "text",
            "done"
          ],
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid"
            },
            "text": {
              "type": "string",
              "minLength": 1,
              "maxLength": 180
            },
            "done": {
              "type": "boolean"
            }
          }
        }
      },
      "WorkflowUpdate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "version"
        ],
        "anyOf": [
          {
            "required": [
              "checklist"
            ]
          },
          {
            "required": [
              "recurrence"
            ]
          },
          {
            "required": [
              "waiting_for"
            ]
          }
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "checklist": {
            "$ref": "#/components/schemas/Checklist"
          },
          "recurrence": {
            "$ref": "#/components/schemas/Recurrence"
          },
          "waiting_for": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "CreateTask": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "note": {
            "type": "string",
            "maxLength": 20000
          },
          "assignee": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "board_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "goal_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "due_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "job",
              "direct"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "task",
              "note",
              "goal"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "none",
              "low",
              "medium",
              "high",
              "urgent"
            ]
          },
          "source_ref": {
            "type": "string",
            "maxLength": 500
          },
          "tag_ids": {
            "type": "array",
            "maxItems": 10,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "UpdateTask": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "version"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "note": {
            "type": "string",
            "maxLength": 20000
          },
          "assignee": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "board_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "goal_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "due_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "job",
              "direct"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "task",
              "note",
              "goal"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "none",
              "low",
              "medium",
              "high",
              "urgent"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "doing",
              "waiting",
              "done"
            ]
          },
          "archived": {
            "type": "boolean"
          },
          "tag_ids": {
            "type": "array",
            "maxItems": 10,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "add_tag_ids": {
            "type": "array",
            "maxItems": 10,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "remove_tag_ids": {
            "type": "array",
            "maxItems": 10,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "description": "tag_ids tam listeyi değiştirir; add_tag_ids/remove_tag_ids diğer etiketleri korur. İki kip birlikte kullanılamaz, aynı kimlik eklenip çıkarılamaz. Gönderilmeyen alan değişmez; [] temizler; null kabul edilmez."
      },
      "Comment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "mentions": {
            "type": "array",
            "maxItems": 30,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Task": {
        "type": "object",
        "required": [
          "id",
          "title",
          "created_by",
          "status",
          "version",
          "visibility"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "note": {
            "type": "string",
            "maxLength": 20000
          },
          "assignee": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "job_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "board_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "goal_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "due_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "job",
              "direct"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "task",
              "note",
              "goal"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "none",
              "low",
              "medium",
              "high",
              "urgent"
            ]
          },
          "source_ref": {
            "type": "string",
            "maxLength": 500
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_by": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "doing",
              "waiting",
              "done"
            ]
          },
          "previous_status": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "done_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "archived_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "job_no": {
            "type": [
              "string",
              "null"
            ]
          },
          "can_edit": {
            "type": "boolean"
          },
          "goal_total": {
            "type": "integer"
          },
          "goal_done": {
            "type": "integer"
          },
          "checklist": {
            "$ref": "#/components/schemas/Checklist"
          },
          "recurrence": {
            "$ref": "#/components/schemas/Recurrence"
          },
          "recurrence_parent": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "tag_ids": {
            "type": "array",
            "maxItems": 10,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "cancelled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "cancelled_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "cancellation_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "can_cancel": {
            "type": "boolean"
          }
        }
      },
      "TaskResult": {
        "type": "object",
        "properties": {
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "replayed": {
            "type": "boolean"
          }
        }
      },
      "TaskList": {
        "type": "object",
        "required": [
          "tasks",
          "total",
          "nextCursor"
        ],
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "total": {
            "type": "integer"
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "TaskDetail": {
        "type": "object",
        "properties": {
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "comments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "author_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "body": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "string"
                },
                "agent_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "actor_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "changes": {
                  "type": "object"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "bytes": {
                  "type": "integer"
                },
                "object_path": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TaskTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "color_hue": {
            "type": "integer",
            "enum": [
              300,
              250,
              65,
              155,
              200,
              20
            ]
          },
          "scope": {
            "type": "string",
            "enum": [
              "global",
              "team",
              "personal"
            ]
          },
          "team_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "owner_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "archived_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "can_edit": {
            "type": "boolean"
          }
        }
      },
      "CreateTag": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "color_hue",
          "scope"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "color_hue": {
            "type": "integer",
            "enum": [
              300,
              250,
              65,
              155,
              200,
              20
            ]
          },
          "scope": {
            "type": "string",
            "enum": [
              "global",
              "team",
              "personal"
            ]
          },
          "team_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "description": "team kapsamında team_id gerekir; diğer kapsamlarda null/boş. Kişisel sahip aktördür. Ortak katalog yazması yöneticiye, ekip oluşturma ekip yazma yetkisine bağlıdır."
      },
      "UpdateTag": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "version"
        ],
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "color_hue": {
            "type": "integer",
            "enum": [
              300,
              250,
              65,
              155,
              200,
              20
            ]
          },
          "archived": {
            "type": "boolean"
          }
        },
        "description": "Kapsam ve sahip değiştirilemez. Kullanılmış etiket arşivlenebilir; geçmiş görev ilişkileri korunur."
      }
    }
  }
}
